<div class="row-fluid col-wrap">
  <% if @taps.length == 0 %>
    No Taps!!
  <% end %>

  <% tap_num = 0%>  
  <% @taps.each do |tap| %>

    <div id="tap<%= tap_num%>" class="<%= tap == @taps[0] ? 'col-md-4' : 'col-md-4' %> col" style="<%= tap == @taps.last ? "" : 'padding-right:20px; border-right: 1px solid #ccc;'%>">
      <%= render :partial => 'taps/tap_info', :locals => {:tap => tap} %>
    </div>
      <% tap_num += 1%>
  <% end %>

</div>