// Place all the styles related to the Taps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col{
margin-bottom: -99999px;
padding-bottom: 99999px;

}

.col-wrap{  
overflow: hidden;   
} 
